colorama==0.4.6
decorator==5.3.1
dnspython==2.8.0
joblib==1.5.3
numpy==2.4.6
pip==25.0.1
POT==0.9.6.post1
psutil==7.2.2
pyemd==2.0.0
pymongo==4.17.0
pyphi==1.2.0
PyYAML==6.0.3
redis==8.0.0
scipy==1.17.1
tblib==3.2.2
tqdm==4.68.2
